@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; /* Fuente principal */
   
}

#contenedor-principal {
    display: flex;
    flex-direction: column;    
    padding: 0px 80px;
}

#contenedor-cabecera {
    width: 100%;
    height: 100px;
    /* padding: 0px 80px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-buscar{
    height: 55px;
    border: 1px #F2F2F2;
    text-align: center;
    /* box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.10); */
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #BDBDBD;
}

#input-city {
    width: 138px;
    border-radius: 16px 0 0 16px;
    box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.10);
}

#input-guest {
    width: 104px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.10);
}


.buscar-texto:focus {
    color: #333;
    outline: none;
}


#btn-buscar {
    background-color: #fff;
    width: 55px;
    border-radius: 0 16px 16px 0;
    color: #EB5757;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.10);
}

.material-symbols-outlined {
    margin-top: -15px;
    position: relative;
    top: 5px;
}

#cabecera-resultados {
    height: 100px;
    width: 100%;
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

#cabecera-resultados > h2 {
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

#cabecera-resultados > p {
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
}

#contenedor-cards {
    height: auto;
    flex-wrap: wrap;
    display:flex;
    justify-content: space-between; 
    gap: 30px;
}

#card {
    width: 374px;
    height: 350px;
}

#card > img {
    width: 374px;
    height: 269px;
    border-radius: 24px;
}

#card-detalle {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#card-host {
    text-transform: uppercase;
    width: 100px;
    height: 28px;
    border-radius: 12px;
    border: 1px solid #4F4F4F;
    color: #4F4F4F;
    font-size: 12px;
    font-weight: 700;
    padding: 7px;
    margin-right: 11px;
}

#card-type-beds {
    color: var(--gray-3, #828282);
    font-size: 14px;
    font-weight: 500;
    
}

#card-detalle #card-detalle-derecha .material-symbols-outlined {
    width: 24px;
    height: 24px;
    color: #EB5757;
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40
}

#card-rating {
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
    margin-left: 3px;
}

#card-title {
    padding-top: 5px;
    height: 30px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #828282;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
}

footer a{
    color: #828282;
    font-weight: 700;
    padding: 8px;
}

@media (max-width: 1352px) {
    #card {
        width: 350px;
    }

    #card > img {
        width: 350px;
    }    
}
@media (max-width: 1271px) {
    #card {
        width: 340px;
    }
    
    #card > img {
        width: 340px;
    }  
}

@media (max-width: 1240px) {
    #contenedor-cards {
        justify-content: center;
    }
    #card {
        width: 374px;
    }
    #card > img {
        width: 374px;
    }
}

@media (max-width: 600px) {
    #contenedor-cabecera {
        height: 160px;
        flex-direction: column;
        padding: 19px 13px;
    }
    #logo {
        align-self: flex-start;
    }
}

@media (max-width: 485px) {
    #contenedor-principal {
        padding: 0px 13px;
    }
}

@media (max-width: 400px) {
    #card {
        width: 350px;
    }
    
    #card > img {
        width: 350px;
        height: 239px;
    }
}


